Checks: >-
    bugprone-*,
    clang-*,
    concurrency-*,
    cppcoreguidelines-*,
    fuchsia-*,
    google-*,
    hicpp-*,
    linuxkernel-*,
    llvm-*,
    modernize-*,
    mpi-*,
    performance-*,
    portability-*,
    readability-*,

WarningsAsErrors: >-
    *

HeaderFilterRegex: '^((?!/libs/).)*$'
